@import './global.module.scss';

.app {
  width: 100%;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  @include flex-column;
  justify-content: center;
  align-items: center;
  @include no-select;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  .map {
    width: 100%;
    height: 100%;
    @include flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    @include no-select;

    img {
      @include no-select;
      @include no-drag;
      -webkit-touch-callout: none !important;
    }

    .hidden {
      position: absolute;
      display: none;
    }

    .floorplan {
      max-width: 100dvw;
      max-height: 100dvh;
      cursor: url("../img/ear-32.png") 16 16, pointer;
    }

    .shadows {
      position: absolute;
      pointer-events: none;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        filter: opacity(0);
        mix-blend-mode: multiply;
      }
    }

    .cursor {
      position: absolute;
      pointer-events: none;
      &.animating {
        animation: 0.5s infinite normal indicate-beat;
      }
    }
  }

  .beat {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 1em;
    top: 1em;
    background-color: black;
    border-radius: 100%;
    
    animation: 0.5s infinite normal indicate-beat;
  }

  .footer {
    width: 100%;
    padding: 0.5em;
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    color: black;
    filter: grayscale(1) contrast(2);

    span {
      margin-right: 0.5em;
    }

    input[type=range] {
      appearance: none;
      -webkit-appearance: none;
      width: 130px;

      &::-webkit-slider-runnable-track {
        width: 130px;
        height: 8px;
        border-radius: 0;
        background: #999;
      }
      &::-moz-range-track {
        width: 130px;
        height: 8px;
        border-radius: 0;
        background: #999;
      }

      &::-moz-range-progress {
        background: #666;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 0;
        border: none;
        background: #666;
        margin-top: -4px;
      }
      &::-moz-range-thumb {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 0;
        border: none;
        background: #666;
        margin-top: -4px;
      }


      &:focus {
        outline: none;
        &::-webkit-slider-runnable-track {
          background: #777;
        }
        &::-moz-range-track {
          background: #777;
        }
        &::-moz-range-progress {
          background: #666;
        }
      }

      /*hide the outline behind the border*/
      &:-moz-focusring{
        outline: 1px solid white;
        outline-offset: -1px;
      }
    }
  }

  .modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    @include flex-column;
    justify-content: center;
    align-items: center;

    .loader {
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 8px solid white;
      animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
    }

    p {
      color: white;

      &:first-child {
        margin-bottom: 0;
      }
    }

    .move {
      width: 64px;
      height: 64px;
      background: url(../img/touch.png);
      background-size: contain;
      animation: ease-in-out 1s infinite alternate side-to-side;
    }
  }
}

@keyframes indicate-beat {
  0% {
    transform: scale(1.75, 1.75);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

@keyframes side-to-side {
  0% {
    transform: translateX(-32px) rotateZ(-10deg);
  }
  100% {
    transform: translateX(32px) translateY(42px) rotateZ(10deg);
  }
}

@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}